<aside>
    <nav>
        <a href="">Dashboard<span class="">|</span></a>
        <a routerLink="list-work">Obra<span class="">|</span></a>
        <a routerLink="list-employee">Funcionario<span class="">|</span></a>
        <a routerLink="list-role">Cargo<span class="">|</span></a>
        <a routerLink="list-presence">Presenca<span class="">|</span></a>
        <a routerLink="list-expense">Despesa<span class="">|</span></a>
        <a href="">Trabalho Extra<span class="">|</span></a>
        
    </nav>
</aside>